Source: install-progressbar
Section: admin
Priority: extra
Maintainer: Horst Tritremmel <hjt@sidux.com>
Build-Depends: debhelper (>= 5), autotools-dev, automake1.9, libgtk2.0-dev, libglade2-dev
Standards-Version: 3.7.2

Package: install-progressbar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: progressbar for sidux-installer
 This is a generic progressbar implementation, currently used for the sidux 
 installer.
